body{
    font-family: Verdana;
    font-size: 1.5rem;
    background-color: rgba(107, 96, 96, 0.445);
}
h1{
    font-size: 2.4rem;
    color: hsl(207, 54%, 62%);
    font-family: 'OptimusPrincepsSemiBold', 'Times New Roman', 'MV Boli', Arial, Helvetica, sans-serif;
}
h2{
    font-size: 1rem;
    color: rgb(236, 77, 48);
}
.formBox {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
form{
    background-color: hsl(180, 2%, 88%);
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px hsl(0, 4%, 5%); /* horizontal offset, vertical offset, blur radius, colour */
    padding-bottom: 40px;
}
.outerInfoBox{
    text-align: center;
    max-width: 650px;
    /* border: solid black; */
}
.infoBox{
    
    color: rgb(255, 255, 255);
    /* "MV boli" */
    font-family: "Times New Roman";
    background-color: rgb(124, 123, 123);
    font-size: 2.2rem;
    margin: 0px 0px 15px 0px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.infoBoxLeadingText {
    color: rgb(238, 196, 196);
    display: inline;
    font-family:'edo sz','adobe garamond',Verdana, arial;
}
.textBox{
    width: 50%;
    text-align: left;
    font-size: 1.5rem;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 10px;
}
label{
    /* font-family: 'edo-sz'; */
    color: rgba(255, 39, 39, 0.822);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'edo sz','adobe garamond',Verdana, arial; /* haha funny yakuzer font */
    margin-bottom: 10px;
}
button{
    width: 60%;
    background-color: hsl(0, 91%, 54%);
    color: white;
    margin-top: 15px;
    padding: 10px, 15px;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: hsl(0, 91%, 45%);
}
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.svgTableDisplay {
    height: calc(1375px * 0.53);
    width: calc(700px * 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    position: relative;
}
svg {
    max-height: 100vh;
    /* max-width: 100%; Set maximum width to 100% of its container's width */
    height: auto;
    width: auto; 
}
#svgLayer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.line {
    stroke: rgb(182, 125, 60);
    stroke-width: 25;
    pointer-events: none;
    stroke-dasharray: 25*2, 25;
    pointer-events: none;
}